

nav {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: black;
  text-align: center;
  position: sticky;
  width: 100%;
}

.title {
  padding: 1em;
  font-size: 40px;
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 1em;
  text-transform: uppercase;
  font-size: 24px;
}
.navlink {
  text-decoration: none;
  color: white;
  padding: 1em;
  text-align: center;
}

.navlink:hover {
  border: floralwhite 1px solid;
}