.projects {
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
  width: 60%;
}

.projectsHeader {
  border-bottom: black 1px solid;
  margin-bottom: 1em;
  text-align: left;
}
.project {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  margin: 2em;
  border: 1px solid black;
}
.projImage {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
.urls {
  display: flex;
  justify-content: space-around;
  margin: 1em 0 3em 0;
}
.url a {
  text-decoration: none;
  color: black;
}
.url a:hover {
  border-bottom: black 1px solid;
}