@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  font-family: 'Cabin', sans-serif;
}

nav {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: black;
  text-align: center;
  position: sticky;
  width: 100%;
}

.title {
  padding: 1em;
  font-size: 40px;
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 1em;
  text-transform: uppercase;
  font-size: 24px;
}
.navlink {
  text-decoration: none;
  color: white;
  padding: 1em;
  text-align: center;
}

.navlink:hover {
  border: floralwhite 1px solid;
}

.fullPage {
  display: flex;
  flex-flow: column wrap;
  padding: 3em;
}
.aboutMe {
  width: auto;
}
.aboutMe h2 {
  border-bottom: 1px solid black;
}
.aboutMe p {
  padding: 2em;
  text-align: justify;
}
.skillsProjects {
  display: flex;
  flex-flow: row nowrap;
}
.skillsList {
  display: flex;
  flex-flow: column wrap;
  width: 30%;
}
.skillsList h2 {
  border-bottom: black 1px solid;
}
.skillsList ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 2em;
  margin: 2em;
}
.skillsList img {
  height: 75px;
  width: 75px;
  padding: 10px;
}
.projects {
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
  width: 60%;
}

.projectsHeader {
  border-bottom: black 1px solid;
  margin-bottom: 1em;
  text-align: left;
}
.project {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 2em;
}
.project img {
  width: 400px;
}
.project a {
  text-decoration: none;
  color: black;
}
.project a:hover {
  border-bottom: black 1px solid;
}

.page-footer {
  width: 100%;
  bottom: 0px;
  padding: 1em;
  background-color: teal;
  color: white;
}
.page-footer ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
}

.page-footer a {
  color: white;
  text-decoration: none;
}

.page-footer a:hover {
  border-bottom: white 1px solid;
}
